/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap
*/
body{
	background-color:#DDDDDD;
}

.header h1{
	text-align: center;
}

.nav{
	text-align: center;
	text-decoration: none;
}

.field-item{
	color:orange;
	width:100%;
	background-color:#2c3e50;
	padding: 0px 0px 40px 40px;
}

.container table th, td{
	padding-right: 15px;
}

.container table td{
	padding-top: 5px;
}

.input-group-addon{
	width:10%;
}

.actions{
	padding-top: 10px;
}


.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}

#out{
	font-size:40px;
	padding-right: 10em;
	text-align:right;
}

.footer {
	color:orange;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: #2c3e50;
}

textarea{
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
textarea:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 
