<div class="main">
  <div class="container">

  	<h1>Admin's page for each pdf</h1>
    <p>Readers are chosen here.</p>

  <fieldset>
    <legend>Exam paper information:</legend>

    <p>Paper <span style="color:blue">pdf</span></p>
    Student No: 14311499<p>
    <!--<input type="text" name="number" value="14311499">-->
    <br>Reader 1<br>	
    <select>
  		<option value="Clinton">Mr Clinton</option>
  		<option value="Browne">Mrs Browne</option>
  		<option value="Molloy">Mr Molloy</option>
  		<option value="Robinson">Mrs Robinson</option>
	  </select>
    <%= link_to "Correction", marks_path,class:"btn btn-xs btn-primary"%>
	  <br>Reader 2<br>	
    <select>
  		<option value="Clinton">Mr Clinton</option>
  		<option value="Browne">Mrs Browne</option>
  		<option value="Molloy">Mr Molloy</option>
  		<option value="Robinson">Mrs Robinson</option>
	  </select>
    <%= link_to "Correction", marks_path,class:"btn btn-xs btn-primary"%>
	  <br>Reader 3<br>	
    <select>
  		<option value="Clinton">Mr Clinton</option>
  		<option value="Browne">Mrs Browne</option>
  		<option value="Molloy">Mr Molloy</option>
  		<option value="Robinson">Mrs Robinson</option>
	  </select>
    <%= link_to "Correction", marks_path,class:"btn btn-xs btn-primary"%>

	  <br><br>
    <%= link_to "Return", marks_path,class:"btn btn-success"%>
  </div>
</div>